<!DOCTYPE html>
<html>
<body bgcolor="gold" font-color="red">

<table border='0' width='480px' cellpadding='0' cellspacing='0' align='center'>
    <tr align="center" bgcolor="yellow">
        <th colspan="2"><font size="10">Registration </font></th>
    </tr>
    <tr>
        <th><font color="yellow">
        <label>Name</label></th>
        <th><input type="text"></th>
    </tr>
    <tr>
        <th><font color="yellow"><label>Date of birth</label></th>
        <th><input type="date"></th>
    </tr>
    <tr >
        <th><font color="yellow">
        <label>Gender</label></th>
        <th><font color="yellow">
        <input type="radio" name="gender">Male 
        <input type="radio" name="gender">Female
        </th>
    </tr>
        
    <tr >
        <th><font color="yellow">
        <label>Country</label></th>
        <th>
        <select name="city">
        <option value="India">India</option>
        <option value="South Africa">South Africa</option>
        <option value="America">America</option>
        <option value="Japan">Japan</option>
        </th>
    </tr>
    <tr >
        <th><font color="yellow">
        <label>Degree</label></th>
        <th>
        <select name="degree">
        <option value="Bsc computer science">Bsc computer science</option>
        <option value="Bcom">Bcom</option>
        <option value="Bio tech">Bio Tech</option>
        <option value="Bio Chemistry">Bio Chemistry</option>
        </th>
        </tr>
    <tr align="center" bgcolor="yellow">
        <th><input type="Clear">
        <input type="reset">
        </th>
    </tr>
    <tr align="center" bgcolor="yellow">
        <th><input type="submit">
        <input type="submit">
        </th>
    </tr>
    
</table>


</body>
</html>